:root{
    --body-bg:#fff;
    --logo-color-span: #4BCAFF;
    --change-btn-color:white;
    --change-btn-bg:black;
    --logo-a-color: #000000;
    --top-nav-bg: #35444f;
    --nav-a-color:#fff;
    --top-li-border: #fff;
    --top-nav-a-hover:#222f3a;
    --left-menu-border:#000000;
    --left-menu-a-color:#495863;
    --left-menu-li-hover:#dbdbdb;
    --main-img-border:#000;
    --main-par-color:#2c2c2c;
    --dno-bg-color:#63696e;
    --dno-nav-li-a-color:#0c1927;
    --dno-nav-li-hover:rgb(101, 198, 255);
}
/* [data-theme="dark"]{
    --body-bg:black;
    --logo-color-span: #d9ff00;
    --change-btn-color:rgb(0, 0, 0);
    --change-btn-bg:rgb(255, 255, 255);
    --logo-a-color: #ffffff;
    --top-nav-bg: #31a6fa;
    --nav-a-color:rgb(255, 255, 255);
    --top-li-border: rgb(0, 0, 0);
    --top-nav-a-hover:#b8b8b8;
    --left-menu-border:#ffffff;
    --left-menu-a-color:#ffffff;
    --left-menu-li-hover:#00aeff;
    --main-img-border:rgb(255, 255, 255);
    --main-par-color:#ffffff;
    --dno-bg-color:#00b7ff;
    --dno-nav-li-a-color:#ffffff;
    --dno-nav-li-hover:rgb(0, 0, 0);
} */
.change-themes{
    width: 200px;
    height: 50px;
    color: var(--change-btn-color);
    background-color: var(--change-btn-bg);
    cursor: pointer;
}
.body {
    font-family: 'Roboto', sans-serif;
    margin: 63px 0 30px;
    background-color:var(--body-bg);
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.logo {
    height: 79px;
    font-size: 80px;
    line-height: 94px;
    text-align: center;
}

.logo-span {
    color: var(--logo-color-span);
}

.logo a {
    text-decoration: none;
    color: var(--logo-a-color);
}

.top-nav {
    display: flex;
    justify-content: center;
    height: 72px;
    background: var(--top-nav-bg);
    margin-top: 38px;

}

#topnav li {
    float: left;
    list-style: none;
    border: 1px solid var(--top-li-border);

}

#topnav a {
    color: var(--nav-a-color);
    height: 72px;
    text-decoration: none;
    font-size: 24px;
    line-height: 72px;
    padding:  19px 40px;

}

#topnav a:hover {
    background: var(--top-nav-a-hover);
    border: 0;
    

}

.left-meny {
    width: 344px;
    height: 399px;
    border: 1px solid var(--left-menu-border);

}

#left-meny li {
    padding: 25px;
    list-style: none;

}

#left-meny a {
    color: var(--left-menu-a-color);
    height: 27px;
    list-style: none;
    text-decoration: none;
    padding: 0;
    line-height: 30px;
    margin-left: 20px;
}

#left-meny li:hover {
    background-color: var(--left-menu-li-hover);
    text-indent: 20px;
}

.main-content {
    margin-left: 52px;
}

.main-img {
    display: flex;
    border: 1px solid var(--main-img-border);
    justify-content: center;
    align-items: center;
    height: 529px;
    background-color:white;
    opacity: 0.5;
}

.scail-img {
    transition: 1s;
}

.scail-img:hover {
    transform: scale(1.2);
}


.main-par {
    color: var(--main-par-color);
    font-size: 18px;
    line-height: 24px;
    margin-top: 37px;


}

.allcontent {
    display: flex;
    margin-top: 48px;
}

.dno {
    display: flex;
    justify-content: space-around;
    margin-top: 54px;
    background-color: var(--dno-bg-color);
    height: 69px;
    align-items: center;
}

.dno-nav {
    display: inline;
    justify-content: space-between;
}

#dno-nav li {
    display: inline;
    list-style: none;
    text-align: center;
    font-size: 28px;
    padding-right: 20px;

}

#dno-nav li a {
    text-decoration: none;
    color: var(--dno-nav-li-a-color);
    line-height: 28px;
    opacity: 0.5;
}

#dno-nav li :hover {
    color: var(--dno-nav-li-hover);
    text-decoration: underline;
}